*_guide.*
*.ipynb

**/__pycache__

**/*.ipynb

**/*.pyc

**/*.pyo

ROADMAP.md

*.log

*.log.*

*.log.*.*

data/

*.zip

*.tar

*.tar.gz


.vscode/

.env

.env.*

.cursor/

Docs/
action_plan.md
action_fix_action_plan.md
EPISODE_REFACTOR_SUMMARY.md